.swiper {
    width: 640px;
    height: 641px;
  }

.swiper-slide1 {
    background-image: url(/aldebaran-s-uXchDIKs4qI-unsplash\ \(1\).jpg);
    background-size: cover;
    background-position: center center; 
}

.swiper-slide2 {
    background-image: url(/casey-horner-RmoWqDCqN2E-unsplash.jpg);
    background-size: cover;
    background-position: center center; 
}

.swiper-slide3 {
    background-image: url(/joel-filipe-QwoNAhbmLLo-unsplash.jpg);
    background-size: cover;
    background-position: center center; 
}